@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}

/* menu --------------------------------------------------------------------------------------*/

.informacion{
    background-color: #FFD000;
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 60%;
    color: #080808;
    justify-content: center;    
}

.textoInfo{
    text-align: center;
    margin-top: 100%;
    margin-left: 25%;
}

.formContact{
    width: 45%;
    height: 100vh; 
    right: 5%;
    position: fixed;
    top: 20%;   
    background-color:black; 
    color: white;
}

#inputEmail4, #inputPassword4, #inputAddress, #inputAddress2{
    color: #FFFFFF;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    
}
