

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.ji{
    width: 100%;
}

.imagenvp{
    width: 100%;
    height: 30%;
    margin-top: 7px;
}

.imagen_quince{
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}



ul{
    list-style-type: none;
}

.enlacesvp{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
    justify-content: center;
}

.enlacecuatrovp{
margin-top: 200px;



}

.enlacecincovp{
    width: 172px;
    margin-top: 450px;

}

.enlaceseisvp{
    width: 170px;
    margin-top:500px;


}

.enlacesietevp{
    width: 110px;
    margin-top:500px;




}

.enlacesvp:hover{
    color: #ffffff;
    text-decoration: underline rgb(233, 198, 42) ;
}



