
.imagenvp{
    width: 100%;
    height: 30%;
    margin-top: 50px;
}

.enlacecopas{
    margin-top: 260px;
}

.enlacelociones{
    
    margin-top: 500px;

}

.enlacetenedores{
    width: 100px;
    margin-top: 520px;
}

.enlaces_linea{
    font-size: 25px;
    color: white;
    text-decoration: none;


}


.enlacesvp:hover{
    color: #ffffff;
    text-decoration: underline rgb(233, 198, 42) ;
}


.tresvp{
    padding-left: 12px;
    background-color: red;
    height: 100%;
    width: 50%;
    color: white;
}

.cuatrovp{
    background-color: black;
    height: 100%; 
    width: 20%;    
    display: flex;
    justify-content: center;
    color: white;
}

#pantalla-grande{
    display: flex;
    height: 100%;
    width: 77%;
    background-color: black;
    margin-left: 23%;
}

.fourvp{
    background-color: black;
    margin-left: 10%;
}

